 body {margin: 0;}

    .CodeMirror pre{
      line-height: 16px;
    }

    #in{
      position: fixed;
      top: 40px;
      left: 0;
      bottom: 0;
      width: 50%;
      height: auto;
      overflow: auto;
      font-size: 12px;
      box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
    }

    .CodeMirror {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
    }

    .CodeMirror-scroll {
      padding: 30px;
      box-sizing: border-box;
    }

    #out{
      position: fixed;
      top: 40px;
      right: 0;
      left: 50%;
      bottom: 0;
      overflow: auto;
      padding: 10px;
      padding-left: 20px;
    }

    #menu {
      display: none;
      position: fixed;
      background-color: #111;
      border-radius: 5px;
      top: 50%;
      left: 50%;
      width: 250px;
      height: 150px;
      margin-top: -75px;
      margin-left: -125px;
      z-index: 99;
      text-align: center;
      color: white;
    }

    #menu > span {
      display: block;
      font-size: 1.5em;
      line-height: 1.3;
      margin-top: 0.25em;
    }

    #menu > div {
      display: inline-block;
      width: 100px;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      opacity: 0.7;
    }

    #menu > div:hover {
      opacity: 1;
    }

    #menu svg {
      width: 64px;
      height: 64px;
      margin: 0 auto;
      display: block;
    }
    #menu path {
      fill: #fff;
    }

    #close-menu {
      position: absolute;
      top: 5px;
      right: 9px;
      color: white;
      cursor: pointer;
    }

    .emoji {
      width: 1em;
      height: 1em;
      vertical-align: baseline;
    }

    @media screen and (max-width: 1024px) {
      
      .left {
	    display: none !important;
      }
        #viewbutton {
            display: inline-block !important;
        }
    }

    .cm-header-1 { font-size: 2em; }
    .cm-header-2 { font-size: 1.75em; }
    .cm-header-3 { font-size: 1.5em; }
    .cm-header-4 { font-size: 1.3em; }
    .cm-header-5 { font-size: 1.2em; }
    .cm-header-6 { font-size: 1.15em; }

    .cm-quote { color: #90a959; font-style: italic; }

    .view #in {
      display: none;
    }
    .view #out {
      left: 0;
      padding-left: 10px;
    }

    p{margin:1em 0;}

    img{max-width:100%;}

    h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;line-height:1em;}
    h4,h5,h6{ font-weight: bold; }
    h1{ font-size:2.5em; }
    h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
    h3{ font-size:1.5em; }
    h4{ font-size:1.2em; }
    h5{ font-size:1em; }
    h6{ font-size:0.9em; }

    blockquote{color:#666666;margin:0;padding-left: 3em;border-left: 0.5em #EEE solid;}
    hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }

    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px;}
    pre code { border: 0px !important; background: transparent !important; line-height: 1.3em; }
    code { padding: 0 3px 0 3px; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
    ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
    li p:last-child { margin:0 }
    dd { margin: 0 0 0 2em; }
    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
    table { border-collapse: collapse; border-spacing: 0; }
    td, th { vertical-align: top; padding: 4px 10px; border: 1px solid #bbb; }
    tr:nth-child(even) td, tr:nth-child(even) th { background: #eee; }

#navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin 0;
    padding: 0;
    box-shadow: 0px 2px 10px 10px rgba(0,0,0,0.5);
    background-color: #000;
    z-index: 10;
    position:absolute
}

#title {
    cursor: pointer;
    color: #ccc !important;
    text-align: left;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    font-weight: 600;
    font-family: monospace;
}

.navbutton {
    color: #888;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
}

#navcontent {
    display: block;
}

#viewbutton {
    display: none;
}

.right {
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	float: right;
}

.selected{
    background-color: #ddd;
    color: #444;
}

.left {
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	float: left;
}
.navbutton:hover {
    background-color: #777;
    color: #222;
}

.hidden {
    display: none !important;
}
@media print{
    #in{
     display:none !important;
   }
   #out{
        left:0 !important; 
        top:0 !important; 
        position:static !important;
   }
   #navbar{
       display:none !important;
   }
}
