 body {
     margin: 0;
     background-color: white;
 }

 .CodeMirror pre {
     line-height: 16px;
 }

 #in {
     position: fixed;
     top: 40px;
     left: 0;
     bottom: 0;
     width: 50%;
     height: auto;
     overflow: auto;
     font-size: 12px;
     box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
 }

 .CodeMirror {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: auto;
     height: auto;
 }

 .CodeMirror-scroll {
     padding: 30px;
     box-sizing: border-box;
 }

 #out {
     position: fixed;
     top: 40px;
     right: 0;
     left: 50%;
     bottom: 0;
     overflow: auto;
     padding: 10px;
     padding-left: 20px;
     background-color: white;
     border-left: 2px solid #444;
 }

 #menu {
     display: none;
     position: fixed;
     background-color: #111;
     border-radius: 5px;
     top: 50%;
     left: 50%;
     width: 250px;
     height: 150px;
     margin-top: -75px;
     margin-left: -125px;
     z-index: 99;
     text-align: center;
     color: white;
 }

 #menu > span {
     display: block;
     font-size: 1.5em;
     line-height: 1.3;
     margin-top: 0.25em;
 }

 #menu > div {
     display: inline-block;
     width: 100px;
     text-align: center;
     vertical-align: top;
     cursor: pointer;
     opacity: 0.7;
 }

 #menu > div:hover {
     opacity: 1;
 }

 #menu svg {
     width: 64px;
     height: 64px;
     margin: 0 auto;
     display: block;
 }

 #menu path {
     fill: #fff;
 }

 #close-menu {
     position: absolute;
     top: 5px;
     right: 9px;
     color: white;
     cursor: pointer;
 }

 .emoji {
     width: 1em;
     height: 1em;
     vertical-align: baseline;
 }

@media screen and (max-width: 1024px) {
     #in, #out {
        margin: 0;
        left: 0;
        width: 95%;
     }

     #in {
        z-index: 1000;
     }

     a#logo {
        display: none;
     }

     .navbutton {
        margin-left: 5px !important;
     }
 }

 .cm-header-1 {
     font-size: 2em;
 }

 .cm-header-2 {
     font-size: 1.75em;
 }

 .cm-header-3 {
     font-size: 1.5em;
 }

 .cm-header-4 {
     font-size: 1.3em;
 }

 .cm-header-5 {
     font-size: 1.2em;
 }

 .cm-header-6 {
     font-size: 1.15em;
 }

 .cm-quote {
     color: #90a959;
     font-style: italic;
 }

 .view #in {
     display: none;
 }

 .view #out {
     left: 0;
     padding-left: 10px;
 }

 #navbar {
     top: 0;
     left: 0;
     width: 100%;
     height: 40px;
     margin: 0;
     padding: 0;
     box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.5);
     background-color: #000;
     z-index: 10;
     position: absolute
 }

 #title {
     cursor: pointer;
     color: #ccc !important;
     text-align: left;
     font-size: 30px;
     margin-top: 3px;
     margin-bottom: 3px;
     padding-left: 20px;
     padding-right: 20px;
     margin-right: 10px;
     font-weight: 600;
     font-family: monospace;
 }

 .navbutton {
     color: #888;
     cursor: pointer;
     text-align: left;
     font-size: 18px;
     margin-top: 5px;
     margin-bottom: 3px;
     margin-left: 10px;
     margin-right: 5px;
     padding-top: 2px;
     padding-bottom: 0px;
     padding-left: 5px;
     padding-right: 5px;
     border-radius: 7px;
 }

 #navcontent {
     display: block;
 }

 #viewbutton {
     display: none;
 }

 .right {
     display: inline-block;
     vertical-align: text-bottom;
     position: relative;
     float: right;
 }

 .selected {
     background-color: #ddd;
     color: #444;
 }

 .left {
     display: inline-block;
     vertical-align: text-bottom;
     position: relative;
     float: left;
 }

 .navbutton:hover {
     background-color: #777;
     color: #222;
 }

 .hidden {
     display: none !important;
 }

 .focused {
    display: block;
    width:50%;
    margin-left: -25%;
    padding-left: 0%;
    left:0;
    border-left: 0 !important;
 }

@media screen and (max-width: 1024px) {
     .focused {
         display: block;
         width:100%;
         margin-left: 0%;
         padding-left: 0%;
         left:0;
      }
 }

body{
     background-color: rgb(40, 40, 40);
 }

 .nightmode #in {
     filter: invert(100%);
 }

 .nightmode #out {
     filter: invert(100%);
 }

 .nightmode #navbar {
     filter: invert(0%);
 }

 @media print {
     #in {
         display: none !important;
     }
     #out {
         left: 0 !important;
         top: 0 !important;
         position: static !important;
         border-width: 0px !important;
         filter: invert(0%) !important;
     }
     #navbar {
         display: none !important;
     }
 }

